@model List<EDR.Models.YouTubeVideo>

<h2>YouTube</h2>

@foreach (var v in Model)
{
    <a target="_blank" href="https://www.youtube.com/watch?v=@v.Id&feature=player_embedded">
        <div id="youTubeContainer">
            <img id="youTubeImage" src="https://img.youtube.com/vi/@Html.DisplayFor(s => v.Id)/mqdefault.jpg" />
            <div id="youTubePlay"></div>
        </div>
    </a>
}
