@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container">
    <div class="center-block col-md-6 text-center" style="float: none;">
        <h1>Password Sent!</h1>
        <div class="panel panel-default">
            <div class="panel-body bg-info">
                <p>
                    <h4>Please check your email to reset your password.</h4>
                </p>
            </div>
        </div>
    </div>
</div>	
