@{
    ViewBag.Title = "Password Reset - Eat.Dance.Repeat.";
}

<div class="container">
    <div class="center-block col-md-6 text-center" style="float: none;">
        <h1>Password Reset!</h1>
        <div class="panel panel-default">
            <div class="panel-body bg-info">
                <div class="form-horizontal centerform">
                    <div class="form-group">
                        <div class="col-lg-8 center-block">
                            <h4>Your password has been successfully reset</h4>
                            @Html.ActionLink("Login Now", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
