@model EDR.Models.ViewModels.EventInstagramPicturesContainer

@if (Model.InstagramPictures != null && Model.InstagramPictures.Count() > 0)
{
    <ul class="list-inline">
        @foreach (var photo in Model.InstagramPictures.OrderByDescending(photo => photo.PhotoDate))
        {
            <li>
                <div class="thumbnail text-center">
                    <a href="@photo.Photo" target="_blank">
                        @if (photo.Photo != null)
                        {
                            <img src="@photo.Thumbnail" />
                        }
                    </a>
                    <div class="caption">
                        @Html.ActionLink("Import this Picture", "AddInstagramPicture", "Event", new { eventId = Model.Event.Id, id = photo.InstagramId, returnUrl = @Url.Action("Pictures", new { id = Model.Event.Id, eventType = Model.EventType }) }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    @:No Facebook pictures found.
}


