@model EDR.Models.ViewModels.EventYouTubeVideosContainer
@using EDR.Models
@using EDR.Enums

@if (Model.YouTubeVideos != null && Model.YouTubeVideos.Count() > 0)
{
    using (Html.BeginForm("ImportYouTubeVideos",
                                    "Event",
                                    new { eventId = Model.Event.Id },
                                    FormMethod.Post,
                                    new { enctype = "multipart/form-data" }))
    {
        <p>
            <button type="submit" name="Import" value="Import Videos" class="btn btn-warning">
                <i class="glyphicon glyphicon glyphicon-plus"></i>
                Import Videos
            </button>
        </p>
        <ul class="list-inline">
            @foreach (var video in Model.YouTubeVideos.OrderByDescending(v => v.PubDate))
            {
                <li class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="vertical-align: top;">
                    <div class="thumbnail">
                        <label style="display: block; width: 100%;"><input type="checkbox" name="videoIds" id="videoIds" value="@video.Id" /></label>
                        <a target="_blank" href="https://www.youtube.com/watch?v=@video.Id&feature=player_embedded">
                            <div id="videocontainer" style="height: 100px;">
                                <div id="videoimage" title="@video.Title">
                                    <img src="https://img.youtube.com/vi/@Html.DisplayFor(s => video.Id)/mqdefault.jpg" />
                                </div>
                                <div id="videoplaybutton">
                                    <div id="playbuttonsmall" title="@video.Title (@video.PubDate.ToShortDateString())">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    }
}
else
{
    <p style="margin: 20px;">
        No YouTube videos found.
    </p>
}


