@model IEnumerable<EDR.Models.EventMember>
@using EDR.Utilities;

@foreach (var u in Model.OrderBy(x => x.Member.FullName))
{
    <a href="@Url.Action("Home", "Dancer", new { username = u.Member.UserName }) " style="text-align: left; text-decoration: none; vertical-align: top;" title="@u.Member.FirstName">
        <div class="captionpic" style="display: inline-block;">
            @if (u.Member.UserPictures != null && u.Member.UserPictures.Count > 0)
            {
                <img src="@Url.Content(u.Member.UserPictures.First().Filename)" />
            }
            else
            {
                <img src="@Url.Content("~/Content/images/NoPic.png")" />
            }
        </div>
    </a>
}


