@model EDR.Models.Event

@{
    ViewBag.Title = Model.Name;
}

<h1 class="page-header">@Model.Name <small>at @Html.ActionLink(@Model.Place.Name, "Details", "Place", new { id = Model.Place.Id }, null)</small></h1>

<p class="lead">@Model.Description</p>
