@model EDR.Models.ViewModels.VisitorViewViewModel

@{
    ViewBag.Title = "Welcome Visitor";
}


@section jumbotron
{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h2>Explore Dance</h2>
                    <div class="croppedpic" style="height: 150px;">
                        <img src="~/Content/images/dancecollage.jpg" style="max-width: 100%;" />
                    </div>
                    <p class="lead">Explore different styles available...</p>
                    <div style="height: 100px;">
                        <ul>
                            <li>View Videos of different Dance Styles</li>
                            <li>Listen to different styles of Dance Music</li>
                            <li>Find out where you can learn/dance</li>
                        </ul>
                    </div>
                    <a href="@Url.Action("Explore", "Home")" class="btn btn-primary col-lg-8 col-md-8 col-sm-12 col-xs-12">Start Exploring</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h2>Learn to Dance</h2>
                    <div class="croppedpic" style="height: 150px;">
                        <img src="~/Content/images/class.jpg" style="max-width: 100%;" />
                    </div>
                    <p class="lead">Take your next step to learn...</p>
                    <div style="height: 100px;">
                        <ul>
                            <li>Find Classes & Workshops in your area</li>
                            <li>Check out Videos & Picture</li>
                            <li>Find Teachers & Studios</li>
                            <li>Read Reviews/Comments from other people</li>
                        </ul>
                    </div>
                    <a href="@Url.Action("Learn", "Home")" class="btn btn-primary col-lg-8 col-md-8 col-sm-12 col-xs-12">Find a Class</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h2>Find a Social</h2>
                    <div class="croppedpic" style="height: 150px;">
                        <img src="~/Content/images/socialdance.jpg" style="max-width: 100%;" />
                    </div>
                    <p class="lead">Find a place to dance...</p>
                    <div style="height: 100px;">
                        <ul>
                            <li>Find Socials in your area</li>
                            <li>Check out Videos & Picture</li>
                            <li>Read Reviews/Comments from other people</li>
                        </ul>
                    </div>
                    <a href="@Url.Action("Social", "Home")" class="btn btn-primary col-lg-8 col-md-8 col-sm-12 col-xs-12">Go Dance!</a>
                </div>
            </div>
        </div>
    </div>
}