@model EDR.Models.ViewModels.PromoterViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Promoter/_PromoterLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        //  locate each partial section
        //  if it has a URL set, load the contents into the area.

        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
</script>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <h4>Recent Activity</h4>
    <div class="partialContents" data-url="/Promoter/@Model.Promoter.ApplicationUser.UserName/GetUpdates">
        <img src="~/Content/images/indicator.white.gif" />Loading...
    </div>

</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Latest Social Dances...</h4>
        </div>
        <div class="panel-body">
            @if (Model.NewSocials.Events.Count() > 0)
            {
                @Html.Partial("~/Views/Shared/_EventsPartial.cshtml", Model.NewSocials.Events)
            }
            else
            {
                @: No New Socials
            }
            <a class="btn btn-link pull-right" href="@Url.Action("Dance", "Home")" title="Find More Socials">
                <h4>More...</h4>
            </a>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            New Dancers
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Shared/Events/_UserListPartial.cshtml", Model.NewDancers)
        </div>
    </div>
</div>