@model EDR.Models.ViewModels.PromoterViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "MySocials";
    Layout = "~/Views/Promoter/_PromoterLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="page-header">My Events</h4>
        @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Events)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h4 class="page-header">
            My Places
        </h4>
        <div>
            @Html.Partial("~/Views/Shared/_PlaceListPartial.cshtml", Model.Promoter.Places)
        </div>
    </div>
</div>
