@model EDR.Models.ViewModels.PromoterViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "MySocials";
    Layout = "~/Views/Promoter/_PromoterLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @if (User.Identity != null && User.Identity.Name == Model.Promoter.ApplicationUser.UserName)
        {
            <p>
                <a class="btn btn-warning" title="Create a New Social" style="vertical-align: top;" href="@Url.Action("CreateSocial", "Event")">
                    <i class="glyphicon glyphicon glyphicon-plus"></i>
                    Add a New Social
                </a>
            </p>
        }
        @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Events)
    </div>
</div>
