@model EDR.Models.ViewModels.HomeExploreViewModel

@{
    ViewBag.Title = "Explore Dancing";
}

<h1 class="page-header">Pick a Dance Style...</h1>

<div class="row list-group">
    @foreach (var item in Model.DanceStyles.OrderBy(x => x.Name))
    {
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <div class="row">
                    <div class="croppedpic col-lg-4 col-md-4 col-sm-12 col-xs-12" style="height: 100px;">
                        @if (item.PhotoUrl != null)
                        {
                            <img style="max-width: 100%;" src="@Url.Content(item.PhotoUrl)" />
                        }
                        else
                        {
                            <img style="max-width: 100%;" src="~/Content/images/NoImage.png" />
                        }
                    </div>
                    <div class="caption col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h3 class="group inner list-group-item-heading">
                            @Html.DisplayFor(n => item.Name)
                        </h3>
                        <a href="@Url.Action("Details", "DanceStyle", new { styleName = item.Name }, null)" class="btn btn-primary">
                            Explore @item.Name
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
