@model EDR.Models.ViewModels.HomeExploreViewModel

@{
    ViewBag.Title = "Explore Dancing";
}

<h1 class="page-header">Explore Dance</h1>

<div class="row list-group">
    @foreach (var item in Model.DanceStyles)
    {
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="thumbnail">
                @*<img src="https://img.youtube.com/vi/sAmBsIZAbO8/hqdefault.jpg" />*@
                <iframe width=" 350" height="200" src="//www.youtube.com/embed/@Html.DisplayFor(s => item.YouTubeVideoID)" frameborder="0" allowfullscreen></iframe>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        @Html.DisplayFor(n => item.Name)
                    </h4>
                    <p class="group inner list-group-item-text">
                        @Html.DisplayFor(d => item.Description)
                    </p>
                </div>
            </div>
        </div>
    }
</div>
