@model EDR.Models.ViewModels.HomeExploreViewModel

@{
    ViewBag.Title = "Explore Dancing";
}

<h1 class="page-header">Explore Dance</h1>

<div class="row list-group">
    @foreach (var item in Model.DanceStyles)
    {
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail">
                <img src="https://img.youtube.com/vi/@Html.DisplayFor(s => item.YouTubeVideoID)/mqdefault.jpg" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        @Html.DisplayFor(n => item.Name)
                    </h4>
                    <p class="group inner list-group-item-text">
                        @Html.DisplayFor(d => item.Description)
                    </p>
                    <p>
                        <a href="@Url.Action("Details", "DanceStyle", new { id = item.Id }, null)" class="btn btn-primary">Explore @item.Name</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
