@model IEnumerable<EDR.Models.Class>

@{
    ViewBag.Title = "Explore Dancing";
}

<div class="container">
    <div class="well well-sm">
        <strong>Dance Styles</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    <div id="styles" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <iframe width="350" height="200" src="//www.youtube.com/embed/sAmBsIZAbO8" frameborder="0" allowfullscreen></iframe>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Salsa
                    </h4>
                    <p class="group inner list-group-item-text">
                        Salsa is a popular form of social dance that originated in New York with strong influences from Latin America, particularly Cuba and Puerto Rico.
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="~/home/learn?danceStyle=Salsa (on 1)">Find a Class</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <iframe width="350" height="200" src="//www.youtube.com/embed/Ig_oVESyLFI" frameborder="0" allowfullscreen></iframe>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Bachata
                    </h4>
                    <p class="group inner list-group-item-text">
                        The Dominican Bachata dance style is the original style of Bachata, originating from the Dominican Republic where the music also was born.
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="~/home/learn?danceStyle=Bachata">Find a Class</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <iframe width="350" height="200" src="//www.youtube.com/embed/wcO-GEhZEFs" frameborder="0" allowfullscreen></iframe>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Cha Cha Cha
                    </h4>
                    <p class="group inner list-group-item-text">
                        As described above, the basis of the modern dance was laid down in the 1950s by Pierre & Lavelle[10] and developed in the 1960s by Walter Laird and other top competitors of the time. The basic steps taught to learners today are based on these accounts.
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="~/home/learn?danceStyle=Cha Cha Cha">Find a Class</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <iframe width="350" height="200" src="//www.youtube.com/embed/ecjSMANTuaU" frameborder="0" allowfullscreen></iframe>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Mambo
                    </h4>
                    <p class="group inner list-group-item-text">
                        Mambo is a Latin dance of Cuba. Mambo music was invented during the 1930s by Arsenio Rodríguez,[1] developed in Havana by Cachao and made popular by Dámaso Pérez Prado and Benny Moré.
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="~/home/learn?danceStyle=Mambo">Find a Class</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <iframe width="350" height="200" src="//www.youtube.com/embed/NllknGUIOWE" frameborder="0" allowfullscreen></iframe>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Hustle
                    </h4>
                    <p class="group inner list-group-item-text">
                        The Hustle is a catchall name for some disco dances which were extremely popular in the 1970s. Today it mostly refers to the unique partner dance done in ballrooms and nightclubs to disco music.[1] It has some features in common with swing dance. Its basic steps are somewhat similar to the Discofox, which emerged at about the same time and is more familiar in various European countries. In the 1970s there was also a line dance called the Hustle. Modern partner hustle is sometimes referred to as New York Hustle. People still do this dance today.
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="~/home/learn?danceStyle=Hustle">Find a Class</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <iframe width="350" height="200" src="//www.youtube.com/embed/8uvi_-UKGmA" frameborder="0" allowfullscreen></iframe>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Pachanga
                    </h4>
                    <p class="group inner list-group-item-text">
                        As a dance, pachanga has been described as "a happy-go-lucky dance" of Cuban origin with a Charleston flavor due to the double bending and straightening of the knees. It is danced to the downbeat of four-four time to the usual mambo offbeat music characterized by the charanga instrumentation of flutes, violins, and drums.
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="~/home/learn?danceStyle=Pachanga">Find a Class</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
