@model EDR.Models.ViewModels.SocialViewModel
@using EDR.Utilities

@{
    ViewBag.Title = "Social";
}

<h1 class="page-header">Find a Place to Dance</h1>

@using (Html.BeginForm("Social", "Home", FormMethod.Get))
{
    <p>
        Choose a Dance Style: @Html.DropDownList("danceStyle", "All")
        Choose a Place: @Html.DropDownList("place", "All")
        <input type="submit" value="Search" />
    </p>
}
<div class="row">
    @Html.Partial("~/Views/Shared/_EventListPartial.cshtml", new EDR.Models.ViewModels.EventsViewModel() { Events = Model.Socials, Location = Geolocation.ParseAddress("90065"), EventType = EDR.Enums.EventType.Social })
</div>

<a href="@Request.UrlReferrer.ToString()">Back</a>