
@{
    ViewBag.Title = "Test5";
}

<h2>Test5</h2>

@EDR.Utilities.FacebookHelper.CheckToken("CAAEUhnRSVjgBAIsIQTxcrjANSUNFNBb8o7g38nffwXKXDJ4zKZAIYYwFVHqS5X9CqnjEYgm3CdjEdAxPM4gXZCdbcSdlNfYuZCULmQfzFZB2hY17iUZAJdiQsk1Duw8RCwWUCfJt0KKJCemNzIPVxWtGc542uZAXZCoxn2AV0DRZBZBOXQZB88K4CYQ6I6BEzmrZA3ZB7kzdU0jYXTt14D0fkUi1")
@EDR.Utilities.FacebookHelper.GetExtendedAccessToken("CAAEUhnRSVjgBAIsIQTxcrjANSUNFNBb8o7g38nffwXKXDJ4zKZAIYYwFVHqS5X9CqnjEYgm3CdjEdAxPM4gXZCdbcSdlNfYuZCULmQfzFZB2hY17iUZAJdiQsk1Duw8RCwWUCfJt0KKJCemNzIPVxWtGc542uZAXZCoxn2AV0DRZBZBOXQZB88K4CYQ6I6BEzmrZA3ZB7kzdU0jYXTt14D0fkUi1")
