@{
    Layout = null;
}

@*@model EDR.Models.Place

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(m => m.Id)
        <input type="text" id="search" placeholder="Search for a product" required />
        <input type="submit" value="Go" id="submit" />
    }
    <script type="text/javascript">
        $('#search').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Search", "Place")',
                    data: { searchString: request.term },
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Id
                            }
                        }));
                    }
                })
            },
            select: function (event, ui) {
                $('#search').val(ui.item.label);
                $('#Id').val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    </script>*@

<!DOCTYPE html>
<html>
<head>
    <title>$.geocomplete()</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <style>
        .map_canvas {
            width: 400px;
            height: 400px;
        }
    </style>
    <style type="text/css" media="screen">
        .map_canvas {
            float: left;
        }

        form {
            width: 300px;
            float: left;
        }

        fieldset {
            width: 320px;
            margin-top: 20px;
        }

            fieldset label {
                display: block;
                margin: 0.5em 0 0em;
            }

            fieldset input {
                width: 95%;
            }
    </style>
</head>
<body>

    <div class="map_canvas"></div>
    <form>
        <input id="geocomplete" type="text" placeholder="Type in an address" value="Empire State Bldg" />
        <input id="find" type="button" value="find" />
        <fieldset>
            <h3>Address-Details</h3>
            <label>Latitude</label>
            <input name="lat" type="text" value="">
            <label>Longitude</label>
            <input name="lng" type="text" value="">
            @*<label>Name</label>
            <input name="name" type="text" value="">
            <label>POI Name</label>
            <input name="point_of_interest" type="text" value="">
            <label>Location</label>
            <input name="location" type="text" value="">
            <label>Location Type</label>
            <input name="location_type" type="text" value="">
            <label>Formatted Address</label>
            <input name="formatted_address" type="text" value="">
            <label>Bounds</label>
            <input name="bounds" type="text" value="">
            <label>Viewport</label>
            <input name="viewport" type="text" value="">
            <label>Route</label>
            <input name="route" type="text" value="">
            <label>Street Number</label>
            <input name="street_number" type="text" value="">
            <label>Postal Code</label>
            <input name="postal_code" type="text" value="">
            <label>Locality</label>
            <input name="locality" type="text" value="">
            <label>Sub Locality</label>
            <input name="sublocality" type="text" value="">
            <label>Country</label>
            <input name="country" type="text" value="">
            <label>Country Code</label>
            <input name="country_short" type="text" value="">
            <label>State</label>
            <input name="administrative_area_level_1" type="text" value="">
            <label>Place ID</label>
            <input name="place_id" type="text" value="">
            <label>ID</label>
            <input name="id" type="text" value="">
            <label>Reference</label>
            <input name="reference" type="text" value="">
            <label>URL</label>
            <input name="url" type="text" value="">
            <label>Website</label>
            <input name="website" type="text" value="">*@
        </fieldset>
    </form>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="../../Scripts/jquery.geocomplete.js"></script>
    <script>
        $(function () {
            $("#geocomplete").geocomplete({
                map: ".map_canvas",
                details: "form",
                types: ["geocode", "establishment"],
            });

            $("#find").click(function () {
                $("#geocomplete").trigger("geocode");
            });
        });
    </script>


    <p id="basicExample">
        <input type="text" class="date start" />
        <input type="text" class="time start" /> to
        <input type="text" class="time end" />
        <input type="text" class="date end" />
    </p>

    <script type="text/javascript" src="~/Scripts/timepicker/jquery.timepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/timepicker/jquery.timepicker.css" />
    <script type="text/javascript" src="~/Scripts/timepicker/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/timepicker/bootstrap-datepicker.css" />
    <script type="text/javascript" src="~/Scripts/timepicker/site.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/timepicker/site.css" />
    <script type="text/javascript" src="~/Scripts/timepicker/datepair.js"></script>
    <script type="text/javascript" src="~/Scripts/timepicker/jquery.datepair.js"></script>
    <script>
    // initialize input widgets first
    $('#jqueryExample .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:ia'
    });

    $('#jqueryExample .date').datepicker({
        'format': 'm/d/yyyy',
        'autoclose': true
    });

    // initialize datepair
    $('#jqueryExample').datepair();
    </script></body>
</html>
