@model List<EDR.Models.ApplicationUser>

@foreach (var item in Model)
{
    <div class="col-lg-2 col-md-2 col-xs-3 col-sm-3">
        @Html.DisplayFor(m => item, "DancerThumbLink")
    </div>
}


