@model EDR.Models.DanceStyle

<style>
    .style{
        position: relative;
        margin: 5px;
        background-color: #aaa;
    }
    .style:hover{
        cursor: pointer;
        background-color: #ccc;
    }
    .style:hover img{
        opacity: .5;
    }
    .style > div > img{
    }

    .style > div{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .style h2{
        color: #fff;
    }
</style>
<a href="@Url.Action("Details", "DanceStyle", new { styleName = Model.Name })">
    <div class="style text-center" style="height: 150px;">
        <div>
            <span style="line-height: 100%;"></span><img style="max-width: 100%; max-height: 100%;" src='@Url.Content(Model.PhotoUrl ?? "~/Content/images/NoImage.png")' />
        </div>
        <div style="padding-top: 40px;">
            <span style="line-height: 150px;"></span><div class="item-short"><h2>@Model.Name</h2></div>
        </div>
    </div>
</a>