@model EDR.Models.Video

<div class="buttonoverlay_container">
    <img src="@Html.DisplayFor(s => Model.PhotoUrl)" />
    <a rel="nofollow" class="btn btn-danger" target="_blank" href="@Model.VideoUrl" title="@Model.Title">
        <i class="glyphicon glyphicon-play"></i>
    </a>
</div>
