@model EDR.Models.ViewModels.TeacherViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "MyTeach";
    Layout = "~/Views/Teacher/_TeacherLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @if (User.Identity != null && User.Identity.Name == Model.Teacher.ApplicationUser.UserName)
            {
                <p>
                    <a class="btn btn-warning" title="Create a New Class" style="vertical-align: top;" href="@Url.Action("Create", "Event", new { role = "Teacher", eventType = "Class" }, null)">
                        <i class="glyphicon glyphicon glyphicon-plus"></i>
                        Add a New Class/Workshop
                    </a>
                </p>
            }
        @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Events)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h4 class="page-header">
            My Students
        </h4>
        <div>
            @Html.Partial("~/Views/Shared/_StudentListPartial.cshtml", Model.Teacher.Students)
        </div>
    </div>
</div>