@model EDR.Models.ViewModels.TeacherViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "MyTeach";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@section section
{
    Where I Teach...
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="page-header">My Classes/Workshops</h4>
        @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Events)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h4 class="page-header">
            My Students
        </h4>
        <div>
            @Html.Partial("~/Views/Shared/_StudentListPartial.cshtml", Model.Teacher.Students)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h4 class="page-header">
            My Places
        </h4>
        <div>
            @Html.Partial("~/Views/Shared/_PlaceListPartial.cshtml", Model.Teacher.Places)
        </div>
    </div>
</div>
