<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=EDR;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=EDR;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5014.Smarterasp.net;Initial Catalog=DB_9BAE91_EDR;User Id=DB_9BAE91_EDR_admin;Password=Yukiko13;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@eatdancerepeat.com">
        <network defaultCredentials="false" host="mail.eatdancerepeat.com" port="25" userName="info@eatdancerepeat.com" password="Yukiko13!" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FacebookAppId" value="1634016200156058" />
    <add key="FacebookAppSecret" value="17e338c89fc606e10ab6ec541671f58c" />
    <add key="InstagramClientId" value="56c5b09843504985b032bd76c8657a16" />
    <add key="InstagramClientSecret" value="2d6f838d229a4b45af5d54750cbeacb0" />
    <add key="InstagramRedirectUri" value="https://localhost:44302/SocialMedia/Authenticate" />
    <add key="SpotifyClientId" value="44d7c94dd6c847ff93d25447c09d37ca" />
    <add key="SpotifyRedirectUri" value="https://localhost:44302/SocialMedia/AuthenticateSpotify" />
    <add key="SpotifyAppSecret" value="03b18ba62015498bb19d45fb1898dd55" />
    <add key="TwitterAPIKey" value="EgSfAbCSmtby03R4mfTAPZ5NA" />
    <add key="TwitterAPISecret" value="Zt1XWL9F0N6PwGLhZAqFFv4n1c2o5vWRZlpCRejk7C7fpOBJjE" />
    <add key="TwitterAccessToken" value="Zt1XWL9F0N6PwGLhZAqFFv4n1c2o5vWRZlpCRejk7C7fpOBJjE" />
    <add key="TwitterAccessTokenSecret" value="Zt1XWL9F0N6PwGLhZAqFFv4n1c2o5vWRZlpCRejk7C7fpOBJjE" />
    <add key="TwitterRedirectUri" value="https://localhost:44302/SocialMedia/AuthenticateTwitter" />
    <add key="GlobalFacebookUserEmail" value="tadashigraves@hotmail.com" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    <add name="FacebookAuthenticationModule" preCondition="managedHandler" type="Microsoft.AspNet.Facebook.FacebookAuthenticationModule, Microsoft.AspNet.Facebook, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /></modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.GData.Client" publicKeyToken="04a59ca9b0273830" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.GData.Extensions" publicKeyToken="0b4c5df2ebf20876" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>