@model EDR.Models.ViewModels.DancerViewViewModel
@using EDR.Models
@using EDR.Utilities
@using DayPilot.Web.Mvc.Enums.Calendar
@using DayPilot.Web.Mvc.Events.Calendar

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_DancerLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    function createEvent(start, end, resource) {
        modal().showUrl("@Url.Content("~/Dialog/New")?start=" + start.toStringSortable() + "&end=" + end.toStringSortable());
    }

    function editEvent(id) {
        modal().showUrl("@Url.Content("~/Dialog/Edit/")" + id);
    }

    function modal() {
        var modal = new DayPilot.Modal();
        modal.top = 60;
        modal.width = 300;
        modal.opacity = 30;
        modal.border = "5px solid #d0d0d0";
        modal.closed = function () {
            if (this.result == "OK") {
                dpc.commandCallBack('refresh');
            }
            dpc.clearSelection();
        };

        modal.height = 250;
        return modal;
    }
</script>

<h4 class="page-header">My Dance Schedule</h4>
<div class="note">
    <a href="javascript:dpc.commandCallBack('previous');">Previous</a> |
    <a href="javascript:dpc.commandCallBack('today');">Today</a> |
    <a href="javascript:dpc.commandCallBack('next');">Next</a>
</div>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        @(Html.DayPilotCalendar("dpc", new DayPilotCalendarConfig
    {
        BackendUrl = Url.Content("~/Dancer/Backend"),
        ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,

        TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
        TimeRangeSelectedJavaScript = "createEvent(start, end)",
        EventMoveHandling = EventMoveHandlingType.CallBack,
        EventResizeHandling = EventResizeHandlingType.CallBack,
        EventClickHandling = EventClickHandlingType.JavaScript,
        EventClickJavaScript = "editEvent(e.value());",
        LoadingLabelText = "<img src='" + Url.Content("~/Media/linked/ajax-loader-round.gif") + "' />",
        LoadingLabelBackColor = "",
    }))
    </div>
</div>
