@model EDR.Models.ViewModels.DancerViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "Dancer - " + Model.Dancer.FirstName;
    Layout = "~/Views/Shared/_DancerLayout.cshtml";
}

@section section
{
    Where I Learn...
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="page-header">My Classes/Workshops</h4>
        @Html.Partial("~/Views/Shared/_CompactEventListPartial.cshtml", Model.Classes)
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        <h4 class="page-header">
            My Teachers
        </h4>
        <div>
            @Html.Partial("~/Views/Shared/_TeacherListPartial.cshtml", Model.Teachers)
        </div>
    </div>
</div>
