@model EDR.Models.UploadFile

<h2>Picture Upload</h2>

@using (Html.BeginForm("UploadPicture",
                        "Dancer",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <div class="form-group form-inline">
        <input type="file" name="file" id="file" class="form-control" />
        <input id="submit" type="submit" class="btn btn-default" value="Submit" />
    </div>
    <p>
        @ViewBag.Message
    </p>

    <script type="text/javascript">
    $('#submit').click(function () {
            //check whether browser fully supports all File API
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                //get the file size and file type from file input field
                var fsize = $('#file')[0].files[0].size;

                if (fsize > 1048576) //do something if file size more than 1 mb (1048576)
                {
                    alert(fsize + " bites\nToo big!");
                    return false;
                } else {
                    alert(fsize + " bites\nYou are good to go!");
                    return true;
                }
            } else {
                alert("Please upgrade your browser, because your current browser lacks some new features we need!");
            }
        });
    </script>
}
