@model EDR.Models.ViewModels.OwnerApplyViewModel

@{
    ViewBag.Title = "Owner Application";
}

<h2 class="page-header">Owner Application</h2>
@if (Model.Owner != null)
{
    <h5>You've already applied to be an Owner.  Your application is under review.</h5>
    @Html.ActionLink("Back to Dancer Page", "Home", "Dancer", new { username = User.Identity.Name }, new { @class = "btn btn-info" })
}
else
{
    using (Html.BeginForm())
    {
        <input type="submit" value="Apply to be an Owner" class="btn btn-default" />
    }
}
