@model EDR.Models.ViewModels.OwnerViewViewModel
@using EDR.Models
@using EDR.Utilities

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Owner/_OwnerLayout.cshtml";
}

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            New Videos/Pictures
        </div>
        <div class="panel-body">
            Updates
        </div>
    </div>

</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            New Socials
        </div>
        <div class="panel-body">
            Updates
        </div>
    </div>

</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            New Classes
        </div>
        <div class="panel-body">
            Updates
        </div>
    </div>

</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            New Teachers
        </div>
        <div class="panel-body">
            Updates
        </div>
    </div>

</div>

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            New Users
        </div>
        <div class="panel-body">
            Updates
        </div>
    </div>

</div>
