body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#youTubeContainer {
    position: relative;
    display: inline-block;
}
#youTubeContainer * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#youTubeImage {
    z-index: 9;
    text-align: center;
}
#youTubePlay {
    background: url('images/Play1Normal.png') center center no-repeat;
    margin: -160px 10px 0 0;
    height: 140px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
#youTubePlay:hover {
    background: url('images/Play1Hot.png') center center no-repeat;
    margin: -160px 10px 0 0;
    height: 140px;
    position: relative;
    z-index: 10;
}
#youTubePlay:active {
    background: url('images/Play1Pressed.png') center center no-repeat;
    margin: -160px 10px 0 0;
    height: 140px;
    position: relative;
    z-index: 10;
}

/*Overlay button over image*/
.buttonoverlay_container {
    padding: 5px;
    margin: 2px;
    width: 100%;
    height: 100%;
    position:relative;
    display:inline-block;
    text-align:center;
}

.buttonoverlay_container img {
    max-height: 100%;
    max-width: 100%;
}

.buttonoverlay_container a {
    position:absolute;
    top: 20px;
    left: 20px;
    display:none;
}

.buttonoverlay_container:hover a {
    display: block;
}
/*Overlay button over image*/

#videocontainer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    text-align: center;
}

#videoimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#videoplaybutton {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#videoimage img
{
    max-width: 100%;
}

#videoplaybutton {
    z-index: 10;
}
#playbutton {
    background: url('images/Play1NormalSmall.png') bottom left no-repeat;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#playbutton:hover {
    background: url('images/Play1HotSmall.png') bottom left no-repeat;
}
#playbutton:active {
    background: url('images/Play1PressedSmall.png') bottom left no-repeat;
}

#playbuttonsmall {
    background: url('images/Play1NormalSmall.png') center center no-repeat;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#playbuttonsmall:hover {
    background: url('images/Play1HotSmall.png') center center no-repeat;
}
#playbuttonsmall:active {
    background: url('images/Play1PressedSmall.png') center center no-repeat;
}

.captionpic
{
    height: 40px;
    width: 40px;
    overflow: hidden;
}
.captionpic img
{
    width: 40px;
}

.facebookVideoContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

facebookvideoimage,
facebookvideoimage img
{
    width: 100%;
}

.captionpic
{
    overflow: hidden;
}
.captionpic img
{
    max-width: 100%;
}

.croppedpic
{
    margin: 5px;
    text-align: center;
    overflow: hidden;
    background-color: #808080;
}
.croppedpic img
{
    max-width: 100%;
}
.checkboxlist{
    width: 100%;
}
.checkboxlist input[type=checkbox]
{
    display: normal !important;
    width: 20px !important;
    max-width: 20px !important;
}
.checkboxlist label
{
    display: normal !important;
    width: 30px !important;
    display: inline-block !important;
    font-weight: normal;
}

.linebehind {
    padding: 20px;
    width: 100%;
    display: table;
    white-space: nowrap;
}
.linebehind:before,
.linebehind:after {
  border-top: 1px solid #ccc;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}
.linebehind:before {
  right: 1.5%;
}
.linebehind:after {
  left: 1.5%;
}

.box-default
{
    border: 1px solid #e8e8e8;
    width: 100%;
    //  border: 1px solid #f5f5f5;
}

.map_canvas {
    width: 100%;
    height: 200px;
}
.image-container {
    width: 100px;
    height: 100px;
}

.item-image {
    vertical-align: middle;
    max-width: 100px;
    max-height: 100px;
}

.helper{
    height: 100px;
}

.helper span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.helper img {
    max-height: 100%;
    max-width: 100%;
}

.helper h4 {
    max-height: 100%;
    max-width: 100%;
}

.item-title {
    font-weight: bold;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-link {
    width: 100%;
}

.item-short {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#img_container {
    position: relative;
    display: inline-block;
    text-align: center;
}

#profilepic {
    width: 200px;
}
.eventpic {
    width: 100%;
}

.nospace{
    padding: 0px !important;
    margin: 0px !important;
}

.large {
  font-size: 16px;
}

.padlabel
{
    line-height: 25px;
    padding: 5px 5px 5px 5px !important;
    margin-top: 0px !important;
}

.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 1px solid #F2F7F9;
  border-right: 0px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

.fitpicture{
    max-height: 100%;
    max-width: 100%;
}

/*expand div*/
    .exbutton {
        position:absolute;
        z-index:5;
        display:none;
        cursor:pointer;
        font-weight: bold;
    }
    .exclose {
        display:none;
    }
    .exopen {
        display:none;
    }
    
    .expand.container{
        overflow:hidden;
        position:relative;
        margin:auto;
        float:left;
    }
    
    .expand.text_container{
        height:105px;
        overflow:hidden;
        
    }

.expand.text {text-overflow: ellipsis;}
/*expand div*/

.frame {
    background-color: #aaa;
    height: 135px;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: left;
}

.frame img {
    max-height: 100%;
    max-width: 100%;
}

.frame .desc {
    padding-top: 5px;
    padding-left: 5px;
    width: 90px;
    height: 100%;
    position: absolute;
    background-color: #000000;
    color: #eee;
    top: 0px;
    opacity: .9;
    right: 0px;
}

.frame .delete {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

.frame:hover .delete {
    display: block;
}

.buttoncontainer {
    position: relative;
}

.buttoncontainer:hover .actionbutton {
    display: block;
}

.actionbutton {
    z-index: 10;
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

.centerform .center-block input:not([type='checkbox']){
    width: 100%;
    max-width: 100%;
}

.centerform .center-block textarea{
    width: 100%;
    max-width: 100%;
}

.centerform select{
    width: 100%;
    max-width: 100%;
}

/*.centerform .center-block a{
    width: 100%;
    max-width: 100%;
}*/

.centerform > div > div{
    float: none;
}

.bg-class{
    background-color: #65AE25;
    color: #fff;
}

.bg-social{
    background-color : #006A90;
    color: #fff;
}

.multiselectbutton{
    font-style: italic;
}

.uploadimg {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

input[type="file"] {
    display: none;
}

#script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
}

.table-nowrap {
	table-layout:fixed;
}

.table-nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.textoverlaycontainer {
    background-color: #000;
    position: relative;
}

.textoverlay.topleft {
    z-index: 10;
    position: absolute;
    left: 5px;
    top: 5px;
}

.textoverlay.bottomright {
    z-index: 10;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.textoverlay.bottomleft {
    z-index: 10;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.pac-container {
    /* put Google geocomplete list on top of Bootstrap modal */
    z-index: 9999;
}
.oneline {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.field-validation-valid { display: none; }
.validation-summary-valid {  display: none; }