body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#youTubeContainer {
    position: relative;
    display: inline-block;
}
#youTubeContainer * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#youTubeImage {
    z-index: 9;
    text-align: center;
}
#youTubePlay {
    background: url('images/Play1Normal.png') center center no-repeat;
    margin: -160px 10px 0 0;
    height: 140px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
#youTubePlay:hover {
    background: url('images/Play1Hot.png') center center no-repeat;
    margin: -160px 10px 0 0;
    height: 140px;
    position: relative;
    z-index: 10;
}
#youTubePlay:active {
    background: url('images/Play1Pressed.png') center center no-repeat;
    margin: -160px 10px 0 0;
    height: 140px;
    position: relative;
    z-index: 10;
}

#videocontainer {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    text-align: center;
}

#videoimage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#videoplaybutton {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#videoimage img
{
    width: 100%;
}

#videoplaybutton {
    z-index: 10;
}
#playbutton {
    background: url('images/Play1Normal.png') center center no-repeat;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#playbutton:hover {
    background: url('images/Play1Hot.png') center center no-repeat;
}
#playbutton:active {
    background: url('images/Play1Pressed.png') center center no-repeat;
}

#playbuttonsmall {
    background: url('images/Play1NormalSmall.png') center center no-repeat;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#playbuttonsmall:hover {
    background: url('images/Play1HotSmall.png') center center no-repeat;
}
#playbuttonsmall:active {
    background: url('images/Play1PressedSmall.png') center center no-repeat;
}

.captionpic
{
    height: 40px;
    width: 40px;
    overflow: hidden;
}
.captionpic img
{
    width: 40px;
}

.facebookVideoContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

facebookvideoimage,
facebookvideoimage img
{
    width: 100%;
}

.captionpic
{
    height: 40px;
    width: 40px;
    overflow: hidden;
}
.captionpic img
{
    width: 40px;
}

.croppedpic
{
    overflow: hidden;
}
.croppedpic img
{
    width: 100%;
}
.checkboxlist input
{
    width: 15px;
    height: 15px;
    margin: 10px;
}
.checkboxlist label
{
    font-weight: normal;
}
