
@{
    ViewBag.Title = "GoogleMap";
}

<style type="text/css">
    .calendardiv {
        height: 600px;
        padding: 0px;
        margin: 0px;
    }
</style>
<h2>Basic Initialization</h2>
<div class="calendardiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
    @Html.Raw(Model.Render())
</div>

