@model EDR.Areas.Admin.Models.ViewModels.DanceStyleFacebookVideosViewModel
@using EDR.Models
@using EDR.Enums

@if (Model.Videos != null && Model.Videos.Count() > 0)
{
    <ul class="list-inline">
        @foreach (var video in Model.Videos)
        {
            <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="vertical-align: top;">
                <div>
                    <div class="thumbnail">
                        <div style="height: 100px;">
                            @Html.Partial("~/Views/Shared/_VideoPlayerPartial.cshtml", new Video() { FacebookId = video.Id, MediaSource = MediaSource.Facebook, PhotoUrl = video.Picture, VideoUrl = video.Source, PublishDate = video.Created_Time, Title = video.Name })
                        </div>
                        <a class="btn btn-warning" title="Import Video" style="vertical-align: top; width: 100%;" href="@Url.Action("AddFacebookVideo", "DanceStyle", new { id = Model.DanceStyle.Id, videoId = video.Id })">
                            <i class="glyphicon glyphicon glyphicon-plus"></i>
                            Import Video
                        </a>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p style="margin: 5px;">
        No Facebook videos found.
    </p>
}