@model IEnumerable<EDR.Models.DanceStyle>

@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li class="active">All Styles</li>
</ol>

<div class="container">
    <h2 class="page-header">
        All Dance Styles
        <a class="btn btn-primary" href="@Url.Action("Edit", "DanceStyle")">Add a Style</a>
    </h2>
    @foreach (var style in Model.OrderBy(s => s.Name))
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px;">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <h4>@style.Name</h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                @Html.ActionLink("View", "Details", "DanceStyle", new { id = style.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
