@model EDR.Models.ViewModels.CoverMediaViewModel

@if (Model.Video != null)
{
    <div style="height: 150px;">
        @Html.Partial("~/Views/Shared/_VideoPlayerPartial.cshtml", Model.Video)
    </div>
}
else if (Model.Picture != null)
{
    <div class="croppedpic" style="max-height: 200px;">
        <a target="_blank" href="@Url.Content(Model.Picture.Filename)">
            <img style="max-width: 100%;" src="@Url.Content(Model.Picture.Filename)" />
        </a>
    </div>
}
else
{
    <div class="croppedpic" style="max-height: 200px;">
        <img style="max-width: 100%;" src="~/Content/images/NoImage.png" />
    </div>
}    
