@model IEnumerable<EDR.Models.Place>
@using EDR.Utilities;

@foreach (var p in Model.OrderBy(x => x.Name))
{
    <a class="btn btn-default col-lg-4 col-md-12 col-sm-12 col-xs-12 top" href="@Url.Action("Home", "Place", new { id = p.Id }) " style="text-align: left; vertical-align: top;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            @if (p.ThumbnailFilename != null)
            {
                <img src="@Url.Content(p.ThumbnailFilename)" />
            }
            else
            {
                <img src="@Url.Content("~/Content/images/MissingImageThumbnail.jpg")" />
            }
            <span class="text-primary" style="vertical-align: top;">@p.Name</span>
        </div>
    </a>
}