@model IEnumerable<EDR.Models.Student>
@using EDR.Utilities;

@foreach (var u in Model.OrderBy(x => x.Dancer.FullName))
{
    <a href="@Url.Action("Home", "Dancer", new { username = u.Dancer.UserName }) " style="text-align: left; text-decoration: none; vertical-align: top;" title="@u.Dancer.FirstName">
        <div class="captionpic" style="display: inline-block;">
            @if (u.Dancer.UserPictures != null && u.Dancer.UserPictures.Count > 0)
            {
                <img src="@Url.Content(u.Dancer.UserPictures.First().Filename)" />
            }
            else
            {
                <img src="@Url.Content("~/Content/images/NoPic.png")" />
            }
        </div>
    </a>
}