@model EDR.Models.EventVideo

<a target="_blank" href="@Model.VideoUrl" title="@Model.Title">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="videocontainer" style="height: 100%;">
        <div id="videoimage">
            <img src="@Html.DisplayFor(s => Model.PhotoUrl)" />
        </div>
        <div id="videoplaybutton">
            <div id="playbutton">
            </div>
        </div>
    </div>
</a>
