@model EDR.Models.OrganizationMember

<tr>
    @Html.HiddenFor(model => model.Id)
    <td>
        @Html.DisplayFor(model => model.User.FullName)
    </td>
    <td>
        @Html.EditorFor(model => model.Admin)
    </td>
    <td>
        @if (Model.User.UserName != User.Identity.Name)
        {
            <a class="text-danger" title="Delete" href="@Url.Action("RemoveMember", "School", new { id = Model.OrganizationId, memberid = Model.UserId })">
                <i class="glyphicon glyphicon-remove-circle"></i>
            </a>
        }
    </td>
</tr>

