@model EDR.Models.ViewModels.ScanRegistrantsViewModel

@{
    ViewBag.Title = "ScanRegistrants";
}

<div class="text-center" style="padding-top: 50px;">
    <h2>Scan Registration Codes</h2>
    @if (ViewBag.Message != null && ViewBag.Message != "")
    {
        <h4 class="text-danger">
            @ViewBag.Message
        </h4>
    }
    <p>
        <button id="btnscan" class="btn btn-primary" type="button" value="">Scan Another Code?</button>
    </p>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")

    <script>
        $('#btnscan').click(function () {
            //  alert("Open Scanner")
            window.open("scan://scan");
            open(location, '_self').close();
        });
    </script>
}